$palette-name: 'Blues-9'
$palette-color1: #f7fbff;
$palette-color2: #deebf7;
$palette-color3: #c6dbef;
$palette-color4: #9ecae1;
$palette-color5: #6baed6;
$palette-color6: #4292c6;
$palette-color7: #2171b5;
$palette-color8: #08519c;
$palette-color9: #08306b;

$palette-name: 'Purples-9';
$palette-color1: #fcfbfd;
$palette-color2: #efedf5;
$palette-color3: #dadaeb;
$palette-color4: #bcbddc;
$palette-color5: #9e9ac8;
$palette-color6: #807dba;
$palette-color7: #6a51a3;
$palette-color8: #54278f;
$palette-color9: #3f007d;


$blue-1: #f7fbff;
$blue-2: #e7f3ff;
$blue-3: #c8eeff;
$blue-4: #a8e8ff;
$blue-5: #80dcff;
$blue-6: #57cdff;
$blue-7: #00bfff;
$blue-8: #007fbf;
$blue-9: #005f8f;
$blue-10: #003f5f;
